.faq{
    &_item{
        width: 100%;
        max-width: 850px;
        margin: 0 auto;
        padding-top: 40px;
        border-bottom: 1px solid #CECECE;
        cursor: pointer;
       
        &_questions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            &_text{
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 38px;
                color: #000000;
                @media (max-width:620px) {
                    font-size: 24px;
                    margin-right: 60px;
                }
                   

            }
            &_btn{
               font-size: 22px;
                    
            }
        }
        &_answer{
            font-family: Montserrat;
            padding-bottom: 10px;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            overflow: hidden;
            @media (max-width:620px) {
                font-size: 16px;
            }

                
        }
    }
}
 


 
 
    
    