@import '../../../styles/variables.scss';
.footer{
    background: linear-gradient(0deg, #1E2035, #1E2035);
    padding-top: 40px;

    &_block{
        display: flex;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.28);;

    }
    &_info{
        margin-right: 200px;
        &_logo{
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            &_img{
                width: 35px;
                margin-right: 10px;
            }
            &_text{
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                color: #FFFFFF;
            }
        }
        &_text{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            margin-bottom: 10px;
        }
        &_link{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.04em;
            text-decoration-line: underline;
            color: #FFFFFF;
        }
    }
    &_contacts{
        margin-right: 100px;
        &:last-child{
            margin-right: 0;
        }
        &_title{
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #FFFFFF;
            margin-bottom: 22px;
        }
        &_item{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
                &_icon{
                    font-size: 16px;
                    color: #fff;
                    margin-right: 18px;
                }
                &_text{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    color: #FFFFFF;
                }
        }
    }
    &_Copyright{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        &_info{
            &_text{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 12px;
                color: #FFFFFF;
                margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: 0;
                    }
            } 

        }
        &_social{
           
               a{
                   transition: color 0.2s;
                   color: #fff;
                   color: #fff;
                   font-size: 20px;
                   text-decoration: none;
                    &:hover{
                        color: rgb(178, 60, 189);
                    }
                    &:first-child{
                        margin-right: 30px;
                    }
               }
        }

    }
   
}