@import '../../../styles/variables.scss';
.faq{
    margin-bottom: $mBottom;
    &_title{
        margin-bottom: 110px !important;
            @media (max-width:620px) {
                margin-bottom: 50px !important;
            }
    }
}