.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 20px;
    padding: 20px 0;
}

.formItem{
    display: flex;
    @media (max-width:617px){
        flex-wrap: wrap;
        margin-bottom: 10px;


    }
       
}

.input{
    width: 100%;
    &:first-child{
        margin-right: 30px !important;
        @media (max-width:617px){
            margin-right: 0 !important;
    
        }
    }

}

.personalData{
    margin-top: 30px
}

.passportData{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.passportTitle{
    font-size: 20px;
    text-align: start;
    margin-bottom: 20px;

}
.btn{
    width: 100%;
    margin-top: 40px !important;
}