@import '../../../styles/variables.scss';

.program{
    margin-bottom: $mBottom;
    &_title{
        margin-bottom: 80px !important;
    }
    &_day{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        &_title{
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            color: #000000;
        }
        
        &_group{
            display: flex;
        }
    }
    &_event{
        &_titles{
            display: flex;
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(202, 202, 202, 0.4);
               
                div{
                    font-family: 'Open Sans', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.25);
                        &:nth-child(1){
                            width: 35%;
                        }
                        &:nth-child(2){
                            width: 21.6%;
                            
                        }
                        &:nth-child(3){
                            width:21.6%;
                             
                        }
                        &:nth-child(4){
                            width: 21.6%;
                             
                        }
                        
                }
        }
    }
}