@import './../../../styles/variables.scss';
.showing{
    margin-bottom: $mBottom;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $darkBlue;
        @media (max-width: 672px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            padding: 30px 0;
        }
     
    &_item{
        margin-right: 100px;
            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }
            @media (max-width: 672px){
                margin-right: 0;
                margin-bottom: 30px;
            }
    }
    &_number{
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        text-align: center;
        color: #FFFFFF;
    }
    &_text{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        text-align: center;
        color: #FFFFFF;
    }
}