.container{
    display: flex;
    justify-content: center;
    background-image: url('../public/regBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    position: relative;
    height: auto;
    padding: 20px 0;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        background: #000;
        z-index: 2;
      }
    @media (max-width:617px){
        height: auto;
    }
    @media (max-width:530px){
        height: auto;
        padding: 0;
    }
    

}
.inner{
    box-shadow: 0px 0px 0px 10px;
    padding: 20px;
    box-shadow: 0px 0px 3px -2px;
    border-radius: 5px;
    background-color: #fff;
    position: relative;
    z-index: 3;
    @media (max-width:530px){
        height: 100%;
        width: 100%
    }
}
.title{
    font-size: 24px;
    text-align: center;
    font-family: Rubik;
    text-transform: uppercase;
    margin-bottom: 15px;
    
    @media (max-width:617px){
        margin-top: 30px;
    }
}

.dialog{
    width: 300px !important;
}