.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 30px;
    @media (max-width:617px){
        height: auto;
    }

}
.title{
    font-size: 28px;
    text-align: center;
    @media (max-width:617px){
        margin-top: 30px;
    }
}
 